@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
}

.section-text p {
    font-size: 1.2em;
    margin-top: 15px;
    text-align: center;
}

span {
    color: rgb(42, 168, 168);
    font-size: 1.4em;
    font-weight: 600;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px 15px 100px;
    transition: 1s;
}

header #title {
    text-decoration: none;
    color: white;
    font-size: 3em;
}

header .nav-list {
    display: flex;
}

header .nav-list li {
    list-style: none;
    margin-left: 25px;
    padding: 0 4px;
}

header .nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

header .nav-list li:hover {
    border-bottom: 4px solid rgb(42, 168, 168);
}

.sticky {
    background-color: white;
    padding: 10px 100px 10px 140px;
    align-items: center;
    box-shadow: 0 0 10px 1px gray;
}

.sticky .nav-list li a {
    color: rgb(42, 168, 168);
}

.sticky #title {
    color: rgb(42, 168, 168);
    font-size: 2em;
}

.bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    transition: 1s;
}

.bg .bg-content {
    text-align: center;
    max-width: 900px;
}

.bg h2 {
    color: white;
    font-size: 5em;
}

.bg p {
    color: white;
}

.btn, .btn:visited {
    color: white;
    text-decoration: none;
    background-color: rgb(42, 168, 168);
    font-size: 1.2em;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;
}

.bg .btn:hover, .services .btn:hover {
    letter-spacing: 4px;
}

.about {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    transition: 1s;
}

.about .about-sections {
    width: 80%;
}

.about .section-text p {
    text-align: justify;
    line-height: 1.6em;
}

.services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    transition: 1s;
}

.services h2 {
    text-align: center;
}

.services .services-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.services .box {
    position: relative;
    width: 25%;
    overflow: hidden;
    margin: 20px 50px;
    border:rgb(42, 168, 168) solid 6px;
    border-radius: 40px;
    box-shadow: 0 0 8px 1px gray;
}

.services .box .img-box {
    width: 100%;
}

.services .box span {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 4px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.services .box .img-box img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
}


.reviews {
    background: url(../img/review-bg.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    margin-top: 50px;
    transition: 1s;
}

.reviews .section-text h2 {
    text-align: center;
    color: white;
}

.reviews .section-text p {
    color: white;
}

.reviews .review-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.reviews .review-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 382.250px;
    text-align: center;
    padding: 25px 0px;
    margin: 20px;
}
.reviews .review-box p{
    line-height: 1.5em;
    font-size: 1.2em;
    font-style: italic;
    color: gray;
    width: 70%;
    text-align: center;
    padding-top: 15px;
}

.reviews .review-box .img-box {
    width: 30%;
}

.reviews .review-box .img-box img {
    width: 100%;
    border-radius: 50%;
}

.contact {
    /* background: url(../img/contact-bg.jpg); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    padding: 100px;
}

.contact .contact-inputs {
    margin-top: 66px;
    text-align: left;
    box-shadow: 0 0 50px 3px rgb(0 0 0 / 10%);
    padding: 75px 50px;
    width: 500px;
}

.contact .contact-inputs h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact .contact-inputs input,
.contact .contact-inputs textarea{
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    width: 100%;
    resize: none;
}

.contact .contact-inputs .btn {
    border: 0;
    width: 110px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(42, 168, 168);
    padding: 10px 90px;
    transition: 1s;
}
 
footer .footer-infos a {
    padding: 0 5px;
    font-size: 1.2em;
    color: white;
}

footer .footer-infos span {
    color: white;
    font-weight: 400;
    font-size: 1.2em;
}

footer .copyright-text div {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

footer .copyright-text a, footer .copyright-text a:visited {
    text-decoration: none;
    color: navy;
    font-size: 1.1em;
    font-weight: 600;
}
footer .copyright-text a:hover {
    text-decoration: underline;
}